body {
  font-family: Rubik, 'Times New Roman', serif;
  /*font-size: 1.125rem;*/
  /*line-height: 2rem;*/
  color: #333;
}

a {
	text-decoration: none;
}

.main-header {
	text-align:center;
	font-size: 1.125rem;
	letter-spacing: 0.125rem;
	color: #8c8e9b;
	background:khaki;
}

.main-header h1 {
	line-height:3em;
}

/* ==== A SIMPLE TOP NAVIGATION ==== */
nav ul {
  background-color: #eee;
  text-align: center;
}
nav li {
	font-family: 'Anton', sans-serif;
	/*font-size: 1.4rem;*/
	line-height:3rem;
	border-bottom: 1px solid #ccc;
}

nav a {
  color: #C74F78;
  display: block;
}
nav a:hover {
  background-color: #fff;
  transition: background-color .3s ease-in-out;
}
nav a.active {
  background-color: #c74f78;
  color: #eee;
}

@media (min-width: 600px) {
  nav li {
    display: inline-block;
    border-bottom: none;
    width: 7.5rem;
  }
}
/* ==== END NAVIGATION ==== */

h1, h2 {
  font-family: 'Karla', Arial, sans-serif;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;;
  color: #e5127d;
	line-height:3rem;
}

a {
	color: #e5127d;
}

a:hover {
	color: #b60e63;
}

.post {
	border-bottom:1px solid grey;
}

.primary-content {
	margin:1rem;
	padding:1px;
}

p {
	text-align:justify;
	line-height:1.3rem;
	margin-bottom:0.5rem;
}

.picture {
	margin-right:1em;
	width:100%;
}

footer p {
	background:#ffcce6;
	text-align:center;
	line-height:4em;
}

@media screen and (min-width: 600px) {
	.picture {
		float:left;
		width:40%;
	}
	.primary-content {
		width:60%;
	}
	.main-header {
		text-align:left;
	}
	.main-header h1 {
		margin-left:4rem;
	}
	.sticky {
		position: fixed;
		top: 0;
		width: 100%;
	}
}